@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    font-family: 'Bangers', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #101720; 
}

.file {
    width: 100%;    
    height: 1950px;
    position: relative;
    margin: 20px;
}

.tabs {
    display: flex;
    position: absolute;
    width: 100%;
}

.tab-active {
    background-color: rgb(18, 17, 100); 
    padding: 10px 50px;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    color: white; 
    font-size: 20px;
}

/* Pesta침a inactiva */
.tab {
    background-color: rgb(33, 33, 102); 
    padding: 10px 50px;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    color: white; 
    font-size: 20px;
}

/* Hoja activa */
.sheet-active {
    background-color: rgb(18, 17, 100); 
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    top: 0;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
    color: white;
    display: flex;
}

.sheet {
    background-color: rgb(18, 17, 100); 
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    color: white; 
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    background: repeating-conic-gradient(from var(--a), #748fe7 0%, #08fdfd 5%, transparent 5%, transparent 40%, #6391e6 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #797ae4 0%, #582c9d 5%, transparent 5%, transparent 40%, #609bdf 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 15px;
    border: 8px solid rgb(18, 17, 100);
}

.box img {
    position: absolute;
    width: 85%;
    height: 86%;
    left: 12px;
    top: 9px;
    border-radius: 10px;
}

.box2 {
    position: relative;
    width: 150px;
    height: 150px;
    background: repeating-conic-gradient(from var(--a), #748fe7 0%, #08fdfd 5%, transparent 5%, transparent 40%, #6391e6 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.box2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #797ae4 0%, #582c9d 5%, transparent 5%, transparent 40%, #609bdf 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
}

.box2::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 15px;
    border: 8px solid rgb(18, 17, 100);
}

.box2 img {
    position: absolute;
    width: 85%;
    height: 86%;
    left: 12px;
    top: 11px;
    border-radius: 10px;
}

.tittle {
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 25px;
}

.tittle p {
    font-size: 30px;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}

.contenedor-uno {
    width: 855px;
    height: 690px;
    position: absolute;
    left: 30px;
    top: 200px;
    display: grid;
    align-items: center;
}

.pasiva {
    display: flex;
    align-items: center;
    height: auto;
}

.pasiva img {
    width: 150px;
    height: 150px;
}

.text-pasiva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    letter-spacing: 2px;
}

#titulo {
    font-size: 30px;
    margin: 0;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

#descripcion {
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 25px;
    padding: 0px 15px 0px;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

.reliquia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reliquia img {
    width: 150px;
    height: 150px; 
}

.text-reliquia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

#titulo2 {
    font-size: 30px;
    margin: 0;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

#descripcion2 {
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 25px;
    padding: 0px 90px 0px;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

#titulo3 {
    font-size: 30px;
    margin: 0;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

#descripcion3 {
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 25px;
    padding: 0px 15px 0px;
    text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}

.skill-1 {
    width: 750px;
    height: 280px;
    position: absolute;
    left: 1000px;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;  
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(7, 58, 87);
    padding: 0px 5px 0px 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0,5px 10px #000;
    justify-content: center;
}

.card .back p {
    letter-spacing: auto;
    font-size: 25px;
    margin-top: 25px;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.skill-2 {
    width: 750px;
    height: 280px;
    position: absolute;
    left: 1000px;
    top: 340px;
    display: flex;
    justify-content: space-evenly;
}

.skill-2 .card .back p {
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;    
}

.skill-3 {
    width: 750px;
    height: 280px;
    position: absolute;
    left: 1000px;
    top: 650px;
    display: flex;
    justify-content: space-evenly;
}

.skill-3 .card .back p {
    letter-spacing: 1px;
    font-size: 25px;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;       
}

.color1 {
    color: rgb(0, 238, 255);
}

.color2 {
    color: rgb(255, 238, 0);
}

.color3 {
    color: rgb(60, 255, 0);
}

.tooltip_1 {
    color: rgb(0, 238, 255);
    position: relative;
    cursor: pointer;
}

.tooltip_1::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 170px;
    height: 60px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: -20px;
    top: -15px;
    z-index: 1;
}

.tooltip_1:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}
/*---------------------------------------------------------------------------------*/
.tooltip_2 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_2::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 170px;
    height: 60px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 85px;
    top: -25px;
}

.tooltip_2:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_3 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_3::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 160px;
    height: 60px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 60px;
    top: -10px;
    z-index: 2;
}

.tooltip_3:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_4 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_4::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 170px;
    height: 110px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 90px;
    top: -50px;
}

.tooltip_4:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_5 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_5::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 170px;
    height: 85px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 70px;
    top: -10px;
}

.tooltip_5:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_6 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_6::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 180px;
    height: 110px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 15px;
    top: -40px;
    z-index: 2; 
}

.tooltip_6:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_7 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_7::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 170px;
    height: 40px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: -30px;
    top: -50px;
}

.tooltip_7:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_8 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_8::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 170px;
    height: 85px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 90px;
    top: -50px;
}

.tooltip_8:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_9 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_9::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 80px;
    top: -10px;
    z-index: 2;
}

.tooltip_9:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_10 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_10::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 160px;
    height: 80px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 90px;
    top: 10px;
    z-index: 2;
}

.tooltip_10:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip_11 {
    color: rgb(0, 238, 255);
    /* Cambia el color de la palabra */
    position: relative;
    /* Para posicionar el tooltip */
    cursor: pointer;
    /* Indica que es interactivo */
}

.tooltip_11::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 320px;
    height: 65px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 80px;
    top: -50px;
}

.tooltip_11:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}
/*--------------------------------------------------------------------------*/
.personaje {
    position: absolute;
    width: 885px;
    height: 910px;
    left: 910px;
    top: 980px;
    perspective: 1500px; /* A침ade perspectiva para el efecto 3D */
    border-radius: 30px;
    background: radial-gradient(circle at center,
    rgb(65, 64, 200) 0%,
    rgb(45, 44, 170) 30%,
    rgb(18, 17, 100) 100%);
}

.card-3d {
    width: 800px;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
    margin: 0 auto;
}

.card-3d img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    margin-top: 50px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.7));
}

.equipamientos {
    background: linear-gradient(180deg, rgb(41, 40, 155) 0%, rgb(18, 17, 100) 100%);
    position: absolute;
    border-radius: 30px;
    width: 830px;
    height: 920px;
    top: 970px;
    left: 30px;
    display: flex;
    flex-direction: column;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}

.titulo-equipamiento {
    display: flex;
    justify-content: center;
}

.titulo-equipamiento p {
    font-size: 40px;
    margin: 25px;
}

.images-equipment {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Crea 6 columnas de igual tama침o */
    gap: 30px; /* Espacio entre las im치genes */
    padding: 25px; /* Espacio interno del contenedor */
}

.images-equipment img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.tooltip-container::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 20%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    font-size: 24px;
    width: 150px;
    height: 30px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

a {
    position: absolute;
    top: 24px;
    left: 1750px;
    background-color: rgb(32, 21, 187);
    border-radius: 10px;
    transition: background-color 0.5s;
}

a ion-icon {
    color: black;
    width: 50px;
    height: 50px;
}

a:hover {
    background-color: rgb(30, 210, 255);
}